@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

a {
    color: red;

    font-weight: bold;

    text-decoration: underline;
    text-decoration: none;

    background-color:yellow;

}

.LienMenu {
    background-color: white;
    color: green;
}

.LienMenu:hover {
    color:red;
    font-weight: bold;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 40pt;
}